* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

form{
  margin:auto;
  margin-top:10px;
  margin-bottom: 100px;
  display:block;
  width:300px;
}

input[type=text],input[type=number],input[type=email],input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom:10px;
}

h1{
  font-size:50px;
  margin:auto;
  text-align: center;
  margin-bottom:50px;
}

input[type=submit],button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div{
  margin: 10px 50px 20px 50px;
  float:left;
}
span{
  display:block;
  clear: both;
  width: 300px;
  margin: 0 auto;
}